#profile
  %section#layout
    %article
      #info
        #left
          = image_tag(@user.gravatar_image_path(100))
          - if user_signed_in?
            .follow-state
              - if @user != current_user
                = render 'users/follow_state', {:user => @user}
        #right
          #name
            %span#screen_name
              = @user.screen_name
            %span#name
              -if @user.name.present?
                = @user.name
          - if @user.bio.present?
            #bio
              = @user.bio
          - if @user.url.present?
            #url
              = link_to @user.url, @user.url
      #bookmark
        %h1 #{t('panua.words.bookmarks')}
        - if @bookmarks.present?
          = render 'users/bookmarks'
          = will_paginate @bookmarks, :previous_label => t('panua.will_paginate.prev'), :next_label => t('panua.will_paginate.next')
        - else
          #empty
            %h1 #{t('panua.users.empty.bookmarks.profile.title')}
            - if @user == current_user
              %p #{t('panua.users.empty.bookmarks.profile.body')}
    %aside
      %p #{t('panua.words.bookmarks')}: #{@bookmarks_count}
      %p #{link_to(t('panua.words.following'), following_followers_path(@user.screen_name, 'following'))}: #{@user.following_ids.count}
      %p #{link_to(t('panua.words.followers'), following_followers_path(@user.screen_name, 'followers'))}: #{@user.follower_ids.count}
      %h1 #{t('panua.words.tags')}
      - if @tags.present?
        %ul#tags
          - @tags.each do |t|
            - if t.bookmark_ids.count > 0
              %li.tag
                = link_to t.name, "/#{@user.screen_name}/tags/#{t.name}"
                = t.bookmark_ids.count
      - else
        #empty
          %h1 #{t('panua.users.empty.tags.title')}
          - if @user == current_user
            %p #{t('panua.users.empty.tags.body')}

- content_for :javascript do
  = javascript_include_tag 'follow'
