%h1 #{t('panua.forgot_your_password')}

= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!

  %dl
    %dt
      = f.label :email
    %dd
      = f.text_field :email

  #button
    = content_tag :button, :type => :submit do
      = t('panua.words.send')

= render :partial => 'devise/shared/links'