%p
  = t('panua.mailer.hello', :screen_name => @resource.screen_name)

%p
  = t('panua.mailer.reset_password.body1')

%p
  = link_to edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%p
  = t('panua.mailer.reset_password.body2')

Panua
%br
= link_to 'http://panua.heroku.com', 'http://panua.heroku.com'