!!!
%meta{:charset => 'utf-8'}
%title
  = page_title yield(:page_title)
= stylesheet_link_tag :all
= stylesheet_link_tag 'jquery-ui/smoothness/jquery-ui-1.8.8.custom.css'
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Arvo'
= csrf_meta_tag
