= render 'layouts/head'

#bookmarklet-container
  #content
    - if flash[:notice]
      #flash.notice.bookmarklet
        %p #{flash[:notice]}
    - if flash[:error]
      #flash.error.bookmarklet
        %p #{flash[:error]}
    = yield

= render 'layouts/javascript'